/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}*/

ol, ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    outline: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-right {
    text-align: right;
}

html {
    height: 100%;
    font-size: 100%;
}

.wrapper {
    /*height: 100%;*/
    /*font: 14px/24px Arial, Tahoma, sans-serif;*/
    /*background-color: #ebebeb;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000;
    font-size: 1.3rem;
    line-height: 1.375;
    margin: 0;
}

.wrap {
    position: relative; /*Позиционируем контент*/
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background: #fff;
}

.container,
.wrap-container {
    max-width: 1100px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
}

.main-header {
    position: relative;
    padding: 10px;
    /*position: fixed;*/
    /*background: #22272F;*/
    background: #F8F9FB;
    /*display: flex;*/
    /*flex-direction: column;*/
}

.nav-menu__item {
    display: inline-block;
    list-style-type: none;

}

.nav-menu__link {
    margin: 0 10px 0 0;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3rem;
    color: ;
}

.nav-menu__link:hover {
    color: green;
}

.logo__brand {
    width: 50px;
    height: 50px;
}

.icon-menu {
    display: none;
    height: 30px;
    width: 12px;
    float: left;
    padding: 5px 0;
    cursor: pointer;
    margin-right: 10px;
}

.icon-menu__divide {
    display: block;
    height: 2px;
    margin: 3px 0;
    background: #5e4a3f;
}
.contacts__phone {
    font-weight: 700;
    font-size: 1.5625rem;
    color: #000;
}

.sidebar-left {
    width: 300px;
    float: left;
    background: #FFFFFF;
    -webkit-transition: left 0.5s ease-out 0.2s;
    -moz-transition: left 0.5s ease-out 0.2s;
    -o-transition: left 0.5s ease-out 0.2s;
    transition: left 0.5s ease-out 0.2s;
}

/*оформление scroll*/
.scroll {
    padding: 20px;
}

.scroll-container {
    /*outline: 1px solid black;*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.scroll-list {
    margin: 0;
    padding: 0;
}

.scroll-item {
    list-style-type: none;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 3%;

}

.scroll__sub-list {
    margin-left: 0;
    color: #3d4493;
    display: inline-block;
}

.scroll__sub-item {
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(210, 215, 217, 0.75);
}

.scroll__sub-link {
    color: #676d79;
    display: inline-block;
    line-height: 0.9rem;
    margin-bottom: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    border-bottom: none;
    padding: 0 0 10px 0;
    font-weight: 600;

}

.scroll__sub-link:hover {

    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: #0b8512;

}

.wrap-block {
    width: 100%;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
}

.wrap-container__title-text {
    text-align: center;
    /*margin-top: 4%;*/
}
.wrap-container__text {
    text-align: justify;
    margin: 3px;
    line-height: 1.4rem;
    font-size: 1.3rem;
    margin-top: 3%;
}
.img__brand {
    max-width: 100%;

}

.wrap-container__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*outline: 1px solid black;*/
}

.wrap-container__content {
    margin-left: 300px;
    padding: 20px;
    background: #F8F9FB;
}
/*социальные иконки*/
.social-icons {
    opacity: 0.5;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 1000;
}

.dws-button {
    background-color: #3b5998;
    width: 50px;
    height: 35px;
    padding: 5px;
    transition: all 0.5s;
}

.social-icons__link {
    color: #ffffff;
    text-decoration: none;
}

.social-icons__link i.fab {
    font-size: 22px;
    text-align: center;
    display: block;
}

.dws-share {
    float: right;
    width: 30px;
}

.dws-text {
    float: right;
    font-size: 20px;
    position: relative;
    top: 2px;
    right: 5px;
}

/*.dws-facebook {background-color: #3b5998;}*/
.dws-vk {
    background-color: #507299;
}

.dws-youtube {
    background-color: #e62117;
}

/*.dws-envelope-o {background-color: #656766;}*/

.dws-button {
    width: 40px;
    height: 25px;
    padding: 5px;
    overflow: hidden;
}

.dws-button:hover {
    background-color: #000;
    width: 50px;
    padding-left: 15px;
}

/*.dws-facebook:hover{width: 75px}*/
.dws-vk:hover, .dws-youtube:hover {
    width: 95px
}
.footer {
    margin-top: 10%;
    background: #F8F9FB;
    width:100%;
    height: 60px;
    display: flex;
    justify-content: center;

}

.footer__link {
    display: inline;
}

.footer__link:hover {

}






