*::after,
*::before {
    -webkit-box-sizing: border-b0x;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clear {
    clear: both;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000;
    font-size: 1.3rem;
    line-height: 1.375;
    margin: 0;
}

.wrapper {
    margin-top: 10%;
    max-width: 1680px;
    min-width: 320px;
}

.header-top {
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 1680px;
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    z-index: 100;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;

}

.logo__link:hover {
    color: green;
}

.logo__brand {
    width: 50px;
    height: 50px
}

.nav-menu {

}

.nav-menu__list {

}

.nav-menu__item {
    display: inline-block;
    list-style-type: none;
}

.nav-menu__link {
    margin: 0 10px 0 0;
    text-decoration: none;
}

.nav-menu__link:hover {
    color: green;
}

/*бургер для мобилки*/
.btn-menu {
    border: 0;
    background: none;
    padding: 0.7rem;
    cursor: pointer;
    border-radius: 0.2rem;

}

.btn-menu:hover {
    background: #dadada;
}

.btn-menu__line {
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background: #000;
    margin-bottom: 3px;
}

.btn-menu__line:last-child {
    border-bottom: 0;

}

.contacts__phone {
    font-weight: 700;
    font-size: 1.5625rem;
    color: #000;
}

.img {
    width: 100%;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.img__brand_left {
    max-width: 70%;
    /* float: left;*/
    /*margin: 0 3% 3% 0;*/
    text-align: center;

}

.img__brand_right {
    max-width: 70%;
    /* float: right;*/
    /*margin: 0 0 3% 3%;*/
}

.headline {
    text-align: center;
    font-size: 1.5rem;
    color: black;
    padding: 0 5px 0 5px;
    /*outline: 1px solid red;*/
}

.block-wrap__article {
    /*outline: 1px solid blue;*/
    margin: 5px;
}

.block-wrap__text {
    text-align: justify;
    margin: 3px;
}

.nav-menu {

}

.nav-menu__list {

}

.nav-menu__item {
    display: inline-block;
    list-style-type: none;
}

.nav-menu__link {
    margin: 0 10px 0 0;
    text-decoration: none;
}

.nav-menu__link:hover {
    color: green;
}

.wrap {
    max-width: 990px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

/*обвертка двух блоков */
.block-wrap {
    width: 68%;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    position: inherit;
}

/*левый контент*/
.block-wrap__left {

    margin: 5px;
    padding: 1px;
    box-sizing: border-box;
    /*outline: 1px solid black;*/

}

.block-list__list-text {
    margin: 0 auto;
    /*text-align: center;*/
}

.block-list__item {
    line-height: 1.8rem;
    /*text-align: center;*/
}

.block-list__link {

    text-decoration: none;
    color: black;
}

.block-list__link:hover {
    text-decoration: underline;
    color: darkolivegreen;
}

.block-list__sub-list {

}

.block-list__sub-item {

}

.block-list__sub-link {
    text-decoration: none;
    color: cadetblue;
}

.block-list__sub-link:hover {
    text-decoration: none;
    color: darkolivegreen;
}

/*правый контент*/
.block-wrap__right {
    width: 28%;
    /*outline: 1px solid black;*/
    margin: 5px;
}

.block-wrap__right {
    top: 29%;
    width: 29%;
    position: fixed;
    right: 0;
}

.links-list {

}

.links-list__item {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    color: green;
    line-height: 1.8rem;
}

.links-list__title {
    color: #3d4449;
    margin: 0;
}

.sub-block__item {
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(210, 215, 217, 0.75);
}

.sub-block__item:last-child {
    border: none;
}

.links-list__sub-list {

}

.nav-menu__item {
    display: inline-block;
    list-style-type: none;
}

.nav-menu__link {
    margin: 0 10px 0 0;
    text-decoration: none;
}

.nav-menu__link:hover {
    color: green;
}

.sub-block__link {
    display: inline-block;
    padding: 10px;
    border: none;
    color: #656766;

}

.sub-block__link:hover {
    background: #f5f6f7;
}

/*социальные иконки*/
.social-icons {
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 1000;
}

.dws-button {
    background-color: #3b5998;
    width: 100px;
    height: 25px;
    padding: 5px;
    transition: all 0.5s;
}

.social-icons__link {
    color: #ffffff;
    text-decoration: none;
}

.social-icons__link i.fab {
    font-size: 25px;
    text-align: center;
    display: block;
}

.dws-share {
    float: left;
    width: 40px;
}

.dws-text {
    float: right;
    font-size: 20px;
    position: relative;
    top: 2px;
    right: 5px;
}

/*.dws-facebook {background-color: #3b5998;}*/
.dws-vk {
    background-color: #507299;
}

.dws-youtube {
    background-color: #e62117;
}

/*.dws-envelope-o {background-color: #656766;}*/

.dws-button {
    width: 40px;
    height: 25px;
    padding: 5px;
    overflow: hidden;
}

.dws-button:hover {
    background-color: #000;
    width: 50px;
    padding-left: 15px;
}

/*.dws-facebook:hover{width: 75px}*/
.dws-vk:hover, .dws-youtube:hover {
    width: 95px
}

.footer {
    width: 1200px;
    height: 60px;
    display: flex;
    justify-content: center;

}

.footer__link {
    display: inline;
}

.footer__link:hover {

}


